.portfolio {
  padding: 64px 0 58px;
}
.portfolio-title {
  margin: 0 0 34px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 12px;
}
.portfolio-item {
  width: calc((100% - 24px) / 3);
  border: 1px solid #e7e9fc;
  overflow: hidden;
}
.portfolio-project-img {
}
.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-project-service {
  color: #434455;
}
